.outdated {
    color: red;
}

.outdated a {
    color: red;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.outdated:hover {
    text-decoration: underline;
}

.or {
    color: #ff9900;
}

.or:hover {
    color: #000;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #327ae742;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
}

nav:hover{
    background-color: #f3d4a742
}

.body {
    margin-top: 80px;
}