a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: blue
}

.outdated {
    color: red;
}

html {
    font-family: 'Fira Code', monospace;
}

.outdated a {
    color: red;
}

.outdated:hover {
    text-decoration: underline;
}

.or {
    color: #ff9900;
}

.or:hover {
    color: #000;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #327ae7;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
}

.nav:hover {
    background-color: #f3d5a7
}

.list-item {
    list-style: none;
    display: table-row;
}

.nav a {
    color: #f3d5a7
}

.nav:hover a {
    color: #327ae7;
}

.helpful {
    display: none;
    color: blue;
}

.horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #327ae7;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
}