.item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    display: none;
}


/* make horizontal nav bar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
}


/* move others down */

body {
    margin-top: 50px;
}
footer {
    margin-top: 50px;
    list-style: none;
    /* horizontal list */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    
}